body {
  overflow-x: hidden;
  background-color: white;
  header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    width: calc(100% - 28px);
    padding: 40px 14px 8px;
    .logo-container {
      height: 24px;
      img {
        max-height: 100%;
      }
    }
    #hamburger-icon-container {
      height: 16px;
      img {
        max-height: 100%;
      }
    }
    #desktop-menu-container {
      display: none;
      ul {
        li {
        }
      }
    }
    &.scrolled {
      background-color: rgba($color: #000000, $alpha: 0.75);
      backdrop-filter: blur(20px);
      box-shadow: 0 3px 9px rgba($color: black, $alpha: 0.16);
    }
    transition: all ease 0.4s;
  }
  #mobile-menu-container {
    background-color: $black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 10;
    #mobile-menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 14px 8px;
      .logo-container {
        height: 24px;
        img {
          max-height: 100%;
        }
      }
      #close-icon-container {
        height: 16px;
        img {
          max-height: 100%;
        }
      }
    }
    ul {
      list-style: none;
      height: calc(100vh - 72px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 14px;
      li {
        color: $white;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 32px;
        text-transform: uppercase;
      }
    }
    transition: all ease 0.4s;
  }
  main {
    width: 100vw;
    #hero-section {
      background-image: url("../images/mobile/image-hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: calc(100vw - 28px);
      display: flex;
      align-items: center;
      padding: 0 14px;
      h1 {
        border: 2px solid $white;
        color: $white;
        font-size: 40px;
        font-weight: 300;
        line-height: 38px;
        padding: 26px 28px;
        text-transform: uppercase;
        width: calc(100% - 28px);
        &.mobile {
        }
        &.desktop {
          display: none;
        }
      }
    }
    #about-section {
      padding: 96px 14px 0;
      #about-card {
        .card-header {
          margin-bottom: 48px;
          img {
            max-width: 100%;
            object-fit: cover;
            &.mobile {
            }
            &.desktop {
              display: none;
            }
          }
        }
        .card-body {
          text-align: center;
          h2 {
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 32px;
            text-transform: uppercase;
          }
          p {
            padding: 0 38px;
            font-size: 15px;
            line-height: 25px;
            color: $very-dark-gray;
          }
        }
      }
    }
    #creations-section {
      padding: 96px 14px 0;
      .section-header {
        margin-bottom: 56px;
        h2 {
          font-size: 32px;
          color: $black;
          text-transform: uppercase;
          text-align: center;
          font-weight: 300;
        }
        .see-all-btn {
          display: none;
        }
      }
      .section-body {
        #mobile-grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(8, 122px);
          gap: 24px;
          .grid-item {
            position: relative;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            .grid-item-overlay {
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba($color: #000000, $alpha: 0.5);
              height: 100%;
              width: 100%;
            }
            h3 {
              font-size: 24px;
              color: $white;
              position: absolute;
              bottom: 20px;
              left: 20px;
              text-transform: uppercase;
              font-weight: 300;
            }
          }
        }
        #desktop-grid {
          display: none;
          .grid-item {
            img {
            }
            .grid-item-overlay {
            }
            h3 {
            }
          }
        }
      }
      .section-footer {
        display: flex;
        justify-content: center;
        padding: 34px 0 0;
        .see-all-btn {
          color: $black;
          padding: 12px 32px;
          letter-spacing: 6.5px;
          text-transform: uppercase;
          font-size: 14px;
          background-color: $white;
          border: 1.5px solid rgba($color: #000000, $alpha: 1);
          font-weight: 600;
        }
      }
    }
  }
  footer {
    margin: 96px 0 0;
    padding: 56px 0;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-container {
      height: 24px;
      img {
        max-height: 100%;
      }
    }
    #footer-menu {
      padding: 40px 0 50px;
      list-style: none;
      li {
        font-size: 15px;
        color: $white;
        margin-bottom: 28px;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    #footer-social-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        margin-right: 16px;
        width: 24px;
        height: 24px;
        img {
          max-width: 100%;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    #copyrigth {
      margin-top: 24px;
      color: $dark-gray;
      font-size: 15px;
    }
  }
}

@media (max-width: 370px) {
  body {
    main {
      #hero-section {
        h1 {
          font-size: 22px;
          padding: 10px;
        }
      }
    }
  }
}
