* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: white;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
  width: calc(100% - 28px);
  padding: 40px 14px 8px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

body header .logo-container {
  height: 24px;
}

body header .logo-container img {
  max-height: 100%;
}

body header #hamburger-icon-container {
  height: 16px;
}

body header #hamburger-icon-container img {
  max-height: 100%;
}

body header #desktop-menu-container {
  display: none;
}

body header.scrolled {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
}

body #mobile-menu-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 10;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

body #mobile-menu-container #mobile-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 14px 8px;
}

body #mobile-menu-container #mobile-menu-header .logo-container {
  height: 24px;
}

body #mobile-menu-container #mobile-menu-header .logo-container img {
  max-height: 100%;
}

body #mobile-menu-container #mobile-menu-header #close-icon-container {
  height: 16px;
}

body #mobile-menu-container #mobile-menu-header #close-icon-container img {
  max-height: 100%;
}

body #mobile-menu-container ul {
  list-style: none;
  height: calc(100vh - 72px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 14px;
}

body #mobile-menu-container ul li {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
  text-transform: uppercase;
}

body main {
  width: 100vw;
}

body main #hero-section {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: calc(100vw - 28px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
}

body main #hero-section h1 {
  border: 2px solid white;
  color: white;
  font-size: 40px;
  font-weight: 300;
  line-height: 38px;
  padding: 26px 28px;
  text-transform: uppercase;
  width: calc(100% - 28px);
}

body main #hero-section h1.desktop {
  display: none;
}

body main #about-section {
  padding: 96px 14px 0;
}

body main #about-section #about-card .card-header {
  margin-bottom: 48px;
}

body main #about-section #about-card .card-header img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #about-section #about-card .card-header img.desktop {
  display: none;
}

body main #about-section #about-card .card-body {
  text-align: center;
}

body main #about-section #about-card .card-body h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 32px;
  text-transform: uppercase;
}

body main #about-section #about-card .card-body p {
  padding: 0 38px;
  font-size: 15px;
  line-height: 25px;
  color: dimgray;
}

body main #creations-section {
  padding: 96px 14px 0;
}

body main #creations-section .section-header {
  margin-bottom: 56px;
}

body main #creations-section .section-header h2 {
  font-size: 32px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

body main #creations-section .section-header .see-all-btn {
  display: none;
}

body main #creations-section .section-body #mobile-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (122px)[8];
      grid-template-rows: repeat(8, 122px);
  gap: 24px;
}

body main #creations-section .section-body #mobile-grid .grid-item {
  position: relative;
}

body main #creations-section .section-body #mobile-grid .grid-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #creations-section .section-body #mobile-grid .grid-item .grid-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

body main #creations-section .section-body #mobile-grid .grid-item h3 {
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

body main #creations-section .section-body #desktop-grid {
  display: none;
}

body main #creations-section .section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 34px 0 0;
}

body main #creations-section .section-footer .see-all-btn {
  color: black;
  padding: 12px 32px;
  letter-spacing: 6.5px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: white;
  border: 1.5px solid black;
  font-weight: 600;
}

body footer {
  margin: 96px 0 0;
  padding: 56px 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .logo-container {
  height: 24px;
}

body footer .logo-container img {
  max-height: 100%;
}

body footer #footer-menu {
  padding: 40px 0 50px;
  list-style: none;
}

body footer #footer-menu li {
  font-size: 15px;
  color: white;
  margin-bottom: 28px;
  text-align: center;
}

body footer #footer-menu li:last-child {
  margin-bottom: 0;
}

body footer #footer-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #footer-social-menu li {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

body footer #footer-social-menu li img {
  max-width: 100%;
}

body footer #footer-social-menu li:last-child {
  margin-right: 0;
}

body footer #copyrigth {
  margin-top: 24px;
  color: #8c8c8c;
  font-size: 15px;
}

@media (max-width: 370px) {
  body main #hero-section h1 {
    font-size: 22px;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  body header {
    width: calc(100% - 328px);
    padding: 64px 164px 8px;
  }
  body header .logo-container {
    height: 32px;
  }
  body header #hamburger-icon-container {
    display: none;
  }
  body header #desktop-menu-container {
    display: initial;
  }
  body header #desktop-menu-container ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header #desktop-menu-container ul li {
    color: white;
    font-size: 16px;
    margin-right: 34px;
    position: relative;
    cursor: pointer;
  }
  body header #desktop-menu-container ul li:last-child {
    margin-right: 0;
  }
  body header #desktop-menu-container ul li:hover::after {
    content: "";
    height: 2px;
    width: 70%;
    position: absolute;
    bottom: -8px;
    left: 15%;
    background-color: white;
  }
  body #mobile-menu-container {
    display: none;
  }
  body main #hero-section {
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: calc(100% - 328px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 164px;
  }
  body main #hero-section h1 {
    font-size: 72px;
    padding: 40px 47px;
    line-height: 70px;
    width: 50%;
    margin-top: 80px;
  }
  body main #hero-section h1.mobile {
    display: none;
  }
  body main #hero-section h1.desktop {
    display: initial;
  }
  body main #about-section {
    width: calc(100% - 328px);
    padding: 160px 164px 0;
  }
  body main #about-section #about-card {
    position: relative;
  }
  body main #about-section #about-card .card-header {
    margin-bottom: 0;
  }
  body main #about-section #about-card .card-header img.mobile {
    display: none;
  }
  body main #about-section #about-card .card-header img.desktop {
    display: initial;
  }
  body main #about-section #about-card .card-body {
    text-align: initial;
    position: absolute;
    top: 182px;
    left: 550px;
    background-color: white;
    padding: 98px 0 0 95px;
  }
  body main #about-section #about-card .card-body h2 {
    font-size: 48px;
    margin-bottom: 0;
    line-height: 1;
  }
  body main #about-section #about-card .card-body p {
    margin-top: 45px;
    padding: 0;
    font-size: 16px;
    line-height: 1.3;
  }
  body main #creations-section {
    width: calc(100% - 328px);
    padding: 168px 164px 0;
  }
  body main #creations-section .section-header {
    margin-bottom: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main #creations-section .section-header h2 {
    font-size: 48px;
  }
  body main #creations-section .section-header .see-all-btn {
    display: initial;
    color: black;
    padding: 15px 38px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: white;
    border: 1.5px solid black;
    font-weight: 400;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
  }
  body main #creations-section .section-header .see-all-btn:hover {
    color: white;
    background-color: black;
  }
  body main #creations-section .section-body #mobile-grid {
    display: none;
  }
  body main #creations-section .section-body #desktop-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main #creations-section .section-body #desktop-grid .grid-item {
    position: relative;
    cursor: pointer;
  }
  body main #creations-section .section-body #desktop-grid .grid-item img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main #creations-section .section-body #desktop-grid .grid-item .grid-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(black));
    background: linear-gradient(transparent 70%, black);
    height: 100%;
    width: 100%;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  body main #creations-section .section-body #desktop-grid .grid-item h3 {
    font-size: 32px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 42px;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    max-width: 100%;
  }
  body main #creations-section .section-body #desktop-grid .grid-item:hover .grid-item-overlay {
    background: rgba(255, 255, 255, 0.75);
  }
  body main #creations-section .section-body #desktop-grid .grid-item:hover h3 {
    color: black;
  }
  body main #creations-section .section-footer {
    display: none;
  }
  body footer {
    width: calc(100vw - 328px);
    margin: 184px 0 0;
    padding: 44px 164px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  body footer .logo-container {
    height: 32px;
  }
  body footer .logo-container img {
    max-height: 100%;
  }
  body footer #footer-menu {
    padding: 0;
    margin-top: 32px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body footer #footer-menu li {
    cursor: pointer;
    font-size: 16px;
    margin-right: 32px;
    margin-bottom: 0;
    position: relative;
    text-align: initial;
  }
  body footer #footer-menu li:last-child {
    margin-right: 0;
  }
  body footer #footer-menu li:hover::after {
    content: "";
    height: 2px;
    width: 70%;
    position: absolute;
    bottom: -8px;
    left: 15%;
    background-color: white;
  }
  body footer #footer-social-menu {
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer #footer-social-menu li {
    position: relative;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  body footer #footer-social-menu li img {
    max-width: 100%;
  }
  body footer #footer-social-menu li:last-child {
    margin-right: 0;
  }
  body footer #footer-social-menu li:hover::after {
    content: "";
    height: 2px;
    width: 70%;
    position: absolute;
    bottom: -8px;
    left: 15%;
    background-color: white;
  }
  body footer #copyrigth {
    margin-top: 32px;
    color: #8c8c8c;
    font-size: 16px;
    text-align: end;
  }
}
/*# sourceMappingURL=main.css.map */